In [2]:
%matplotlib notebook

In [3]:
%matplotlib notebook

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
silicon_data = pd.read_csv("Reveal_EEO1_for_2016.csv")

In [6]:
silicon_data.describe()

         year
count  3960.0
mean   2016.0
std       0.0
min    2016.0
25%    2016.0
50%    2016.0
75%    2016.0
max    2016.0

In [7]:
silicon_data.head(10)

   company  year    race gender                       job_category count
0  23andMe  2016  Latino   male  Executive/Senior officials & Mgrs     0
1  23andMe  2016  Latino   male         First/Mid officials & Mgrs     1
2  23andMe  2016  Latino   male                      Professionals     7
3  23andMe  2016  Latino   male                        Technicians     0
4  23andMe  2016  Latino   male                      Sales workers     0
5  23andMe  2016  Latino   male             Administrative support     0
6  23andMe  2016  Latino   male                      Craft workers     0
7  23andMe  2016  Latino   male                         operatives     0
8  23andMe  2016  Latino   male               laborers and helpers     0
9  23andMe  2016  Latino   male                    Service workers     0

In [8]:
silicon_data.tail(10)

     company  year            race gender            job_category count
3950    View  2016  Overall_totals    NaN           Professionals   129
3951    View  2016  Overall_totals    NaN             Technicians    27
3952    View  2016  Overall_totals    NaN           Sales workers    52
3953    View  2016  Overall_totals    NaN  Administrative support     6
3954    View  2016  Overall_totals    NaN           Craft workers    18
3955    View  2016  Overall_totals    NaN              operatives   155
3956    View  2016  Overall_totals    NaN    laborers and helpers     0
3957    View  2016  Overall_totals    NaN         Service workers     0
3958    View  2016  Overall_totals    NaN                  Totals   460
3959    View  2016  Overall_totals    NaN         Previous_totals   352

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV

In [10]:
silicon_data.dtypes

company         object
year             int64
race            object
gender          object
job_category    object
count           object
dtype: object

In [12]:
silicon_data['company']

0       23andMe
1       23andMe
2       23andMe
3       23andMe
4       23andMe
5       23andMe
6       23andMe
7       23andMe
8       23andMe
9       23andMe
10      23andMe
11      23andMe
12      23andMe
13      23andMe
14      23andMe
15      23andMe
16      23andMe
17      23andMe
18      23andMe
19      23andMe
20      23andMe
21      23andMe
22      23andMe
23      23andMe
24      23andMe
25      23andMe
26      23andMe
27      23andMe
28      23andMe
29      23andMe
         ...
3930       View
3931       View
3932       View
3933       View
3934       View
3935       View
3936       View
3937       View
3938       View
3939       View
3940       View
3941       View
3942       View
3943       View
3944       View
3945       View
3946       View
3947       View
3948       View
3949       View
3950       View
3951       View
3952       View
3953       View
3954       View
3955       View
3956       View
3957       View
3958       View
3959       View
Name: company, Length: 3960, dtype: object

In [13]:
pd.get_dummies(silicon_data['company'])

,23andMe,Adobe,Airbnb,Apple,Cisco,Facebook,Google,HP Inc.,HPE,Intel,...,Lyft,MobileIron,Nvidia,Pinterest,Salesforce,Square,Twitter,Uber,View,eBay
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3931,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3932,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3933,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3934,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3935,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3936,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3937,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3938,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3942,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3956,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3957,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3959,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0