In [2]:
%matplotlib notebook

In [3]:
%matplotlib notebook

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
silicon_data = pd.read_csv("Reveal_EEO1_for_2016.csv")

In [6]:
silicon_data.describe()

         year
count  3960.0
mean   2016.0
std       0.0
min    2016.0
25%    2016.0
50%    2016.0
75%    2016.0
max    2016.0

In [8]:
silicon_data.head(10)

   company  year    race gender                       job_category count
0  23andMe  2016  Latino   male  Executive/Senior officials & Mgrs     0
1  23andMe  2016  Latino   male         First/Mid officials & Mgrs     1
2  23andMe  2016  Latino   male                      Professionals     7
3  23andMe  2016  Latino   male                        Technicians     0
4  23andMe  2016  Latino   male                      Sales workers     0
5  23andMe  2016  Latino   male             Administrative support     0
6  23andMe  2016  Latino   male                      Craft workers     0
7  23andMe  2016  Latino   male                         operatives     0
8  23andMe  2016  Latino   male               laborers and helpers     0
9  23andMe  2016  Latino   male                    Service workers     0